<div class="form clearfix">
  <div class="form-field">
    <input [(ngModel)]="number" [ngClass]="{ error:      !isValidNumber() }" class="form-number clearfix"
      id="form-number" (keyup)="isValidNumber()" />
  </div>
  <div class="call-button" (click)="call()">
    Zadzwoń
  </div>
</div>
<div class="state">
  Status połączenia: {{ state }}
</div>

<div class="form clearfix">
  <div class="form-field">
    Użytkownik: 
    <input [(ngModel)]="user" class="form-number clearfix" id="form-user" />
    Wiadomość:
    <input [(ngModel)]="message" class="form-number clearfix" id="form-message" />
  </div>
  <div class="call-button" (click)="send()">
    Wyślij
  </div>
  
    <table *ngFor="let mess of messages">
            User {{mess.user}}: {{mess.message}}

    </table>  

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
