form {
    background: #333;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
 }

 form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
 }

 form button {
    width: 9.5%;
    background: #ccc;
    font-size: 12px;
    border: none;
    padding: 10px 0;
 }

 #messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
 }

 #messages li {
    padding: 10px 12px;
    font-size: 14px;
 }

 #messages li:last-child {
    margin-bottom: 43px;
 }

 #messages li:nth-child(odd) {
    background: #ddd;
 }

 #messages li:nth-child(even) {
    background: #bbb;
 }